mixin post-card(item)
    .post-card(class=item.properties['head-image-url']&&'image')
        .contentBox
            header.title
                a.--smooth(href=url_for(item.relative_path))
                    h2= item.title
            +post-meta(item)
            .excerpt!= item.excerpt
            .length
                - let evlTime = Math.ceil(item.length/250)
                .wordCount= item.length+' '+__('words')
                .hr
                .evlTime= evlTime+' '+__(evlTime==1?'Minute':'Minutes')
        a.--smooth.readMore(href=url_for(item.relative_path))
            .cover!= get_svg('material-symbols:chevron-right-rounded')
            .button
                if item.properties['head-image-url']
                    img(src=item.properties['head-image-url'])